.login-container {
  background-color: white;
  text-align: center;
  border: 0;
  border-radius: 5px;
  padding: 1.25rem;
  margin-top: 20%;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.login-input {
  margin-top: 1.25rem;
}

.login-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.login-navlink {
  margin-top: 1rem;
  margin-bottom: 1.25rem;
}

.login-error {
  font-weight: light;
  font-size: 0.8rem;
  color: red;
  margin-top: 1rem;
}
