.prediksi-button-container {
  margin-bottom: 1.25rem;
}

.prediksi-button {
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #0ba6ff;
  color: white;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-radius: 5px;
}

.prediksi-button:hover {
  cursor: pointer;
  background-color: #1183ca;
}

.prediksi-button-icon {
  margin-right: 1rem;
}

.prediksi-button-container-bottom {
  margin-top: 1.25rem;
}

.prediksi-button-bottom {
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #0ba6ff;
  color: white;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-radius: 5px;
  margin-left: 85%;
}

.prediksi-button-bottom:hover {
  cursor: pointer;
  background-color: #1183ca;
}
